body {
    margin: 0px;
    background-color: #5fc9b4;
}

#generator-container {
    width: 500px;
    height: 250px;
}

#rpg-select {
    position: absolute;
    margin: 0px auto;
    width: 250px;
    height: 50px;
    left: 125px;
    top: 60px;
    font-size: 16px;
}

#generate-button {
    position: absolute;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 200px;
    left: 150px;
    top: 140px;
    cursor: pointer;
    outline: none;
}

.collapsible {
    background-color: red;
    cursor: pointer;
    height: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.active, .collapsible:hover {
    background-color: green;
}

.content {
    background-color: white;
    font-size: 16px;
    overflow: hidden;
    display: none;
}

.list {
    list-style-type: none;
    font-family: Arial;
}