body {
    margin: 0px;
    background-color: #DDDDDD;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#generator-container {
    width: 100%;
    height: 250px;
}

#rpg-select {
    position: absolute;
    margin: 0px auto;
    width: 250px;
    height: 50px;
    left: 125px;
    top: 60px;
    font-size: 16px;
    cursor: pointer;
}

#generate-button {
    position: absolute;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    width: 200px;
    left: 150px;
    top: 140px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

#generate-button:hover {
    background-color: #689E61;
    color: white;
}

#output-header-container {
    width: 100%;
    height: 50px;
}

#output-header {
    width: 90%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #F6F6F6;
    border-radius: 5px;
    line-height: 40px;
}

#coll-tracker {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: black;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-left: 15px;
}

#output-container {
    width: 100%;
    height: 250px;
    overflow: auto;
}

.coll-div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.collapsible {
    background-color: #C3C3C3;
    color: black;
    cursor: pointer;
    height: 40px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: auto;
    padding-bottom: auto;
}

.active, .collapsible:hover {
    color: white;
    background-color: #9E6168;
}

.active {
    border-radius: 5px 5px 0px 0px;
}

.collapsible:after {
    content: '\02BC6';
    font-size: 13px;
    color: black;
    float: right;
    font-family: Arial;
}
  
.active:after {
    content: "\02BC5";
    color: white;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 90%;
    background-color: white;
    font-size: 16px;
    overflow: hidden;
    display: none;
    border-radius: 0px 0px 5px 5px;
}

.list {
    list-style-type: none;
    font-family: Arial;
    padding-left: 15px;
}