body {
    background-color: #5fc9b4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;   
}

#output-container {
    margin: 10px;
}

#output {
    resize: none;
    outline: none;
}

#select-container {
    margin: 10px;
    transform: translateY(20px);
}

#gen-button-container {
    margin: 10px;
    transform: translateY(20px);
}